# Example AWS credentials structure for config/credentials.yml.enc
# To edit credentials, run: rails credentials:edit

aws:
  region: us-east-1
  access_key_id: your_access_key_id_here
  secret_access_key: your_secret_access_key_here
  s3_bucket: your_bucket_name_here

# Other credentials...
# secret_key_base: your_secret_key_base_here